src/main/mule/company-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e6bd9149-63e7-416a-a46d-7a2a7520118c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="company-sapiFlow" doc:id="aac08ae8-0ea0-4672-b2c8-94e6ccb2abff" >
		<http:listener doc:name="Listener" doc:id="1f083159-b77a-4886-ae81-b2e2533b44b0" config-ref="HTTP_Listener_config" path="/"/>
		<logger level="INFO" doc:name="Incoming request" doc:id="9a27eeb4-774c-4095-9c08-bb33b25c6f71" message="Incoming request"/>
		<set-payload value="#[%dw 2.0&#10;output application/java&#10;---&#10;&#10;{&#10;	queryParams: {&#10;		param1: attributes.queryParams.&quot;param1&quot; default &quot;[EMPTY]&quot;&#10;	},&#10;	env: {&#10;		currentEnv: &quot;${mule.env}&quot;,&#10;		msg: p('msg')&#10;	}&#10;}]" doc:name="Set Payload" doc:id="008d8624-6a7e-4e61-afbc-48e553ca614e" />
		<logger level="INFO" doc:name="After set payload" doc:id="0e2909ca-364b-4173-882e-35d96e367017" message="After set payload"/>
		<flow-ref doc:name="first_featureSub_Flow" doc:id="b54f10a8-c887-4510-a273-a256b1a74b09" name="first_featureSub_Flow"/>
		<logger level="INFO" doc:name="After first_featureSub_Flow" doc:id="c6740648-f8df-44e9-9ebb-bf0de29b7e79" message="After first_featureSub_Flow"/>
		<ee:transform doc:name="Transform to JSON" doc:id="e1e6acfc-4c0e-40d9-95f9-07fda623efcc">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Show JSON payload" doc:id="7bda6c22-5e0e-49d7-a8a4-d3fbf241f046" message="#[payload]"/>
	</flow>
</mule>
